.MenubarList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    border-bottom:1px solid #2864F0;
  }
  
  .row {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .row:hover{
    transition:0.2s;
    color:#2864F0
  }
  
  .icon {
    margin-left: 33px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

 /* menubar.module.css */

/* サブメニューバーのスタイル */
.subMenuWrapper {
  position: absolute;  /* メインメニューバーから位置を絶対指定 */
  top: 100%;          /* メインメニューバーの下に配置 */
  left: 0;            /* メインメニューバーの左端から配置 */
  width: 100%;        /* 横幅を100%に設定 */
  background-color: #f9f9f9; /* 背景色を指定（必要に応じて変更可能） */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 影をつける（任意） */
  display: flex;      /* 横並びにするためにflexを使用 */
  justify-content: space-between; /* アイテムを並べる際のスペースを均等に配置 */
  padding: 8px 16px;  /* サブメニューバーの内側の余白 */
  z-index: 1;         /* メインメニューバーの上に表示するためのz-index設定 */
}

/* サブメニューバーのリストアイテムのスタイル */
.subMenuWrapper .row {
  display: flex;
  align-items: center;
  margin-right: 10px; /* 各リストアイテムの間に余白を設定 */
}

/* サブメニューのリンクのスタイル（任意にカスタマイズ可能） */
.subMenuWrapper .row a {
  text-decoration: none;
  color: #333;
  margin-left: 5px;
  font-weight: bold;
}

/* ホバー時のサブメニューバーの表示スタイル */
.row:hover .subMenuWrapper {
  display: flex;
}

  